<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlashCard2"
        tools:targetApi="31">
        <activity
            android:name=".Homepage"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Login_gastroenterico"
            android:exported="true">
        </activity>

        <activity
            android:name=".Legenda_gastroenterico"
            android:exported="true">
        </activity>

        <activity
            android:name=".Patologie"
            android:exported="true">
        </activity>

        <activity
            android:name=".Sintomi"
            android:exported="true">
        </activity>

        <activity
            android:name=".Cirrosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".ContenutiAggiuntivi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaAppendicite"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaAppendiciteClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaAppendiciteDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaAppendiciteDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaAppendiciteTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaColangite"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaColangiteClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaColangiteDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaColangiteDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaColangiteTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaColecistite"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaColecistiteClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaColecistiteDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaColecistiteDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaColecistiteTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaColelitiasiClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaColelitiasiDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaColelitiasiDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaColelitiasiTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaColelitiasiNote"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaDiverticolite"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaDiverticoliteClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaDiverticoliteDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaDiverticoliteDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaDiverticoliteTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaDisturbiAnorettali"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaDisturbiAnorettaliClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaDisturbiAnorettaliDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaDisturbiAnorettaliPrincipaliCause"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaDisturbiAnorettaliTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaEmorragieDigestive"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaEmorragieDigestiveClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaEmorragieDigestiveDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaEmorragieDigestiveDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaEmorragieDigestiveTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaEmorragieDigestiveSuperiori"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaEmorragieDigestiveInferiori"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaErnie"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaErnieClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaErnieDiagnosiClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaErnieDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaErnieTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaIngestioneCaustici"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaIngestioneCausticiClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaIngestioneCausticiDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaIngestioneCausticiTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaIngestioneCorpi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaIngestioneCorpiClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaIngestioneCorpiDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaIngestioneCorpiTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaIngestioneCorpiCasiParticolari"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaIngestioneCorpiNote"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaInsufficienzaEpatica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaInsufficienzaEpaticaClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaInsufficienzaEpaticaDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaInsufficienzaEpaticaDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaInsufficienzaEpaticaCause"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaInsufficienzaEpaticaTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaIschemia"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaIschemiaClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaIschemiaDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaIschemiaDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaIschemiaTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaOcclusione"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaOcclusioneClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaOcclusioneDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaOcclusioneDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaOcclusioneTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaPancreatite"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaPancreatiteClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaPancreatiteDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaPancreatiteDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaPancreatiteTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaPerforazione"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaPerforazioneClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaPerforazioneDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaPerforazioneDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaPerforazioneTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaRMICI"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaRMICIClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaRMICIDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaRMICIDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaRMICITrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaRMICINote"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaRottura"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaRotturaClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaRotturaDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaRotturaDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaRotturaTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaSindrome"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaSindromeClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaSindromeDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaSindromeDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaSindromeTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaUlcera"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaUlceraClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaUlceraDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaUlceraDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaUlceraTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".PatologiaUlceraNote"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoDiarrea"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoDiarreaClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoDiarreaDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoDiarreaDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoDiarreaTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoDisfagia"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoDisfagiaClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoDisfagiaDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoDisfagiaDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoDisfagiaTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoDoloreAddominale"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoDoloreAddominaleClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoDoloreAddominaleDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoDoloreAddominaleDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoDoloreAddominaleTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoStipsi"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoStipsiClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoStipsiDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoStipsiDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoStipsiTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoStipsiNote"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoVomito"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoVomitoClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoVomitoDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoVomitoDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".SintomoVomitoTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiAscite"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiAsciteClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiAsciteDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiAsciteGrading"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiAsciteTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiEncefalopatia"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiEncefalopatiaClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiEncefalopatiaDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiEncefalopatiaDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiEncefalopatiaTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiPeritonite"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiPeritoniteClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiPeritoniteDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiPeritoniteDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiPeritoniteTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiRotturaVarici"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiRotturaVariciClinica"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiRotturaVariciDiagnosi"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiRotturaVariciDiagnosiDifferenziale"
            android:exported="true">
        </activity>

        <activity
            android:name=".CirrosiRotturaVariciTrattamento"
            android:exported="true">
        </activity>

        <activity
            android:name=".ContenutoApproccioPaziente"
            android:exported="true">
        </activity>

        <activity
            android:name=".ContenutoPaziente1"
            android:exported="true">
        </activity>

        <activity
            android:name=".ContenutoPaziente2"
            android:exported="true">
        </activity>

        <activity
            android:name=".ContenutoSomministrazione"
            android:exported="true">
        </activity>

        <activity
            android:name=".ContenutoTerapiaAnalgesica"
            android:exported="true">
        </activity>

        <activity
            android:name=".ContenutoTerapiaAntibiotica"
            android:exported="true">
        </activity>


    </application>

</manifest>